
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #fdc134;
  text-decoration: none;
}

a:hover {
  color: #fdd067;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #213b52;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #fdc134;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #213b52;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}
#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}

#header .logo a {
  color: #5f687b;
}
#header .logo img {
  width: auto;
  height: 120px;
}
@media (max-width: 991px) {
  #header {
    padding: 12px 0;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: #f68c09;
}

.navbar .getstarted {
  background: #213b52;
  color: #fff;
  padding: 4px 25px 6px 25px;
  margin-left: 30px;
  border-radius: 50px;
  border: 2px solid #fdc134;
}

.navbar .getstarted:hover {
  background: #fdc134;
  color: #213b52;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 800;
  color: #000;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #f68c09;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fdc134;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(18, 33, 46, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #213b52;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #fdc134;
}

.navbar-mobile .getstarted {
  margin: 15px;
  display: block;
  border: 0;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #fdc134;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}



/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/* About Us Section
--------------------------------*/
#about {
  background: url("../img/about-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 40px 0;
  position: relative;
}
#about::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}
#about .container {
  position: relative;
  z-index: 10;
}
#about .about-col {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}
#about .about-col .img {
  position: relative;
}
#about .about-col .img img {
  border-radius: 4px 4px 0 0;
}
#about .about-col .icon {
  width: 64px;
  height: 64px;
  text-align: center;
  position: absolute;
  background-color: #fdc134;
  border-radius: 50%;
  border: 4px solid #fff;
  left: calc(50% - 32px);
  bottom: -30px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about .about-col i {
  font-size: 28px;
  line-height: 0;
  color: #fff;
  transition: 0.3s;
}
#about .about-col:hover .icon {
  background-color: #fff;
}
#about .about-col:hover i {
  color: #222636;
}
#about .about-col h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 40px 0 12px 0;
}
#about .about-col h2 a {
  color: #000;
}
#about .about-col h2 a:hover {
  color: #f68c09;
}

#about .about-col ul {
  list-style: none;
  padding: 0;
}

#about .about-col ul li {
  padding-bottom: 10px;
  padding-left: 28px;
  position: relative;
}

#about .about-col ul i {
  font-size: 24px;
  color: #f68c09;
  position: absolute;
  left: 0;
  padding-top: 10px;
}


/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
  padding-top: 20px;
}
.features .section-header h2{
  color: #ffc451;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
.features .section-header p{
	color: #ffc451;
	font-size: 24px;
	font-weight: 700;
}
.features .icon-box {
  padding-left: 15px;
  padding-top: 40px;
}
.features .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}
.features .icon-box i {
  font-size: 30px;
  float: left;
  color: #ffc451;
	margin-top: -10px;
}
.features .icon-box p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}
.features .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
/*--------------------------------------------------------------
# Core value
--------------------------------------------------------------*/
#corevalue {
  padding: 60px 0 60px 0;
  overflow: hidden;
}
#corevalue .section-header h3{
  margin-bottom: 50px;
}
#corevalue .box {
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  transition: 0.4s;
  height: 100%;
}
#corevalue .icon {
  float: left;
}
#corevalue .icon i {
  color: #666666;
  font-size: 80px;
  transition: 0.5s;
  line-height: 0;
}
#corevalue .icon i:before {
  background: rgb(236, 178, 236);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#corevalue h4 {
  margin-left: 120px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}
  @media (max-width: 767px){
    #corevalue .box{
      margin-bottom: 20px;
    }
    #corevalue h4{
      margin-left: 0;
      text-align: center;
    }
    #corevalue .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }
  }

#ourfacilities {
  padding: 60px 0 60px 0;
  overflow: hidden;
}
#ourfacilities .section-header h3{
  margin-bottom: 20px;
}
#ourfacilities .box {
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  transition: 0.4s;
  height: 100%;
}

#ourfacilities img{
  max-width: 70px;
  max-height: 70px;
}
#ourfacilities .icon {
  float: left;
}

#ourfacilities h4 {
  margin-left: 80px;
  margin-top: 15px;
  font-weight: 700;
  font-size: 18px;
}
  @media (max-width: 767px){
    #ourfacilities .box{
      margin-bottom: 20px;
    }
    #ourfacilities .box h4{
      text-align: center;
      margin-top: 30px;
    }
    #ourfacilities .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }
  }

  
/*--------------------------------------------------------------
# Advertising
--------------------------------------------------------------*/
.advertising{
  margin: 50px 0 50px 0;
}
.advertising .section-title{
  color: #fdc134;
  margin-bottom: 30px;
}
.advertising .section-title h3{
  font-size: 24px;
}

.advertising .content ul {
  list-style: none;
  padding: 0;
}
.advertising .content ul li {
  display: flex;
  align-items: flex-start;
}
.advertising .content ul li:first-child {
  margin-top: 35px;
}
.advertising .content ul i {
  background: #fff;
  box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
  font-size: 24px;
  padding: 20px;
  margin-right: 15px;
  margin-top: -18px;
  color: #fdc134;
  border-radius: 50px;
}
.advertising .content ul h5 {
  font-size: 18px;
  color: #555555;
}
.advertising .content ul p {
  font-size: 15px;
}
.advertising .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/

/*.projects::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}*/

.projects .section-title h2 {
  color: #ffc451;
}
.projects .section-title p {
  color:#000;
}

.projects .container {
  position: relative;
}

@media (min-width: 1024px) {
  .projects {
    background-attachment: fixed;
  }
}

.projects .events-carousel {
  background: #213b52;
  padding: 30px;
}

.projects .event-item img{
  max-height: 500px;
}

.projects .event-item h3 {
  font-weight: 600;
  font-size: 26px;
  color: #cda45e;
}

.projects .event-item .price {
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

.projects .event-item .price span {
  border-bottom: 2px solid #cda45e;
}

.projects .event-item p:last-child {
  margin-bottom: 0;
}

.projects .swiper-pagination {
  margin-top: 30px;
  position: relative;
}

.projects .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #000;
  opacity: 1;
}

.projects .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #cda45e;
}

/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/
#gallery {
  padding: 60px;
  overflow: hidden;
}
#gallery .section-header h2{
  color: #fdc134;
}
#gallery .section-header p{
  color: #000;
  font-size: 20px;
  font-weight: 500;
}
#gallery .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

#gallery .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #f82249;
}

#gallery .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #f82249;
}

#gallery .swiper-slide-active {
  text-align: center;
}

@media (min-width: 992px) {
  #gallery .swiper-wrapper {
    padding: 40px 0;
  }
  #gallery .swiper-slide-active {
    border: 5px solid #f82249;
    padding: 4px;
    background: #fff;
    z-index: 1;
    transform: scale(1.15);
    margin-top: 6px;
  }
}
/* Contact Section
--------------------------------*/
#contact {
  padding: 30px 0;
  background-color: rgb(211, 207, 207);
  margin-top: 60px;
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color:#f68c09;
}

#contact .contact-info address, #contact .contact-info p {
  margin-bottom: 0;
  color: #000;
  font-weight:bold ;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #000;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: #f68c09;
}

.catalog {
  padding: 7rem 0;
}
.catalog h2{
  color: #f68c09;
  font-size: 30px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #213b52;
  padding: 0 0 25px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #213b52;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 26px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #fff;
}

#footer .footer-top .footer-info img {
  max-height: 130px;
  margin-bottom: 10px;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  display: inline-block;
  background: #222636;
  color: #eee;
  line-height: 1;
  margin-right: 4px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#footer .footer-top .social-links a i {
  line-height: 0;
  font-size: 16px;
}

#footer .footer-top .social-links a:hover {
  background: #f82249;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  border-bottom: 2px solid #f82249;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 5px;
  color: #f82249;
  font-size: 18px;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #262c44;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #f82249;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #f82249;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #e0072f;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}